<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>398822879236-m4u1fip1b9qb5a6pkd0i7e2u61bdvuc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.398822879236-m4u1fip1b9qb5a6pkd0i7e2u61bdvuc9</string>
	<key>API_KEY</key>
	<string>AIzaSyDoCHzlxl-do9ojFtEunbUdffD_apzgcTo</string>
	<key>GCM_SENDER_ID</key>
	<string>398822879236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomoki.-7</string>
	<key>PROJECT_ID</key>
	<string>translate-message-d616c</string>
	<key>STORAGE_BUCKET</key>
	<string>translate-message-d616c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:398822879236:ios:b5a7836ac5d1fce3</string>
	<key>DATABASE_URL</key>
	<string>https://translate-message-d616c.firebaseio.com</string>
</dict>
</plist>