<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662684342234-ac79qkoo4iqi84gi2svcgh9i9a18jfv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662684342234-ac79qkoo4iqi84gi2svcgh9i9a18jfv4</string>
	<key>API_KEY</key>
	<string>AIzaSyBrff5lFaYDmUYtIzQTeUmtBR0dok-Nbkk</string>
	<key>GCM_SENDER_ID</key>
	<string>662684342234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tomoki.-4</string>
	<key>PROJECT_ID</key>
	<string>share-memo-61c01</string>
	<key>STORAGE_BUCKET</key>
	<string>share-memo-61c01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662684342234:ios:3b40285f4a180ec4</string>
	<key>DATABASE_URL</key>
	<string>https://share-memo-61c01.firebaseio.com</string>
</dict>
</plist>